.modal {
    display: block; /* Mostrar el modal como bloque */
    position: fixed; /* Fijar la posición del modal */
    z-index: 1; /* Establecer una capa superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho del modal */
    height: 100%; /* Altura del modal */
    overflow: auto; /* Habilitar desplazamiento si el contenido del modal es mayor que su altura */
    background-color: rgb(0,0,0); /* Fondo del modal */
    background-color: rgba(0,0,0,0.4); /* Transparencia del fondo */
  }