<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> crear producto</span>
                    <form class="mt-3" [formGroup]="productoForm" (submit)="onSubmit(form)">
                        <div class="mb-3">
                            <input type="text" formControlName="nombre" required class="form-control form-control-lg"
                                placeholder="Producto">
                            <div class="text-danger"
                                *ngIf="productoForm.controls['nombre']?.invalid && productoForm.controls['nombre']?.touched">
                                <span>El nombre del producto <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <select formControlName="categoria" class="form-select form-select-lg mb-3">
                                <option disabled selected> categoria</option>
                                <option *ngFor="let opcion of opciones" [ngValue]="opcion._id">{{opcion.nombre}}</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="productoForm.controls['categoria']?.invalid && productoForm.controls['categoria']?.touched">
                                <span>La categoria <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="precio" required class="form-control form-control-lg"
                                placeholder="Precio">
                            <div class="text-danger"
                                *ngIf="productoForm.controls['precio']?.invalid && productoForm.controls['precio']?.touched">
                                <span>El precio <strong>es obligatorio</strong></span>
                            </div>

                        </div>
                        <div class="mb-3">
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="productoForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>