<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> crear producto</span>
                    <form class="mt-3" [formGroup]="newUserForm" (submit)="onSubmit(form)">
                        <div class="mb-3">
                            <input type="text" formControlName="nombre" required class="form-control form-control-lg"
                                placeholder="nombre">
                            <div class="text-danger"
                                *ngIf="newUserForm.controls['nombre']?.invalid && newUserForm.controls['nombre']?.touched">
                                <span>El nombre <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="correo" required class="form-control form-control-lg"
                                placeholder="correo">
                            <div class="text-danger"
                                *ngIf="newUserForm.controls['correo']?.invalid && newUserForm.controls['correo']?.touched">
                                <span>El correo <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="password" required class="form-control form-control-lg"
                                placeholder="password">
                            <div class="text-danger"
                                *ngIf="newUserForm.controls['password']?.invalid && newUserForm.controls['password']?.touched">
                                <span>La contraseña <strong>es obligatoria</strong></span>
                            </div>

                        </div>
                        <div class="mb-3">
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="newUserForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>