<div class="container mt-5 bg-light">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card-body text-center">
                <span class="titulo display-4">listado de productos</span>
                <table class="table table-striped mt-5">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">nombre</th>
                        <th scope="col">categoria</th>
                        <th scope="col">precio</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of listProductos">
                        <th scope="row">{{product._id}}</th>
                        <td>{{product.nombre}}</td>
                        <td>{{product.categoria.nombre}}</td>
                        <td>{{product.precio}}</td>
                        <td>
                          <i (click)="openModal(product._id)" class="fas fa-edit text-primary"></i>
                          <i (click)="isLogged ? deleteProduct(product._id) : openModal(product._id) " class="fas fa-trash text-danger" ></i>
                      </td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-success mb-3" routerLink="/crear-producto">NUEVO</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showModal && isLogged" class="modal">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card mt-5">
        <div class="card-body text-center">
          <span class="titulo"> EDITAR PRODUCTO</span>
          <form class="mt-3" [formGroup]="productoForm">
            <div class="mb-3">
              <input type="text" class="form-control form-control-lg" placeholder="nombre" formControlName="nombre"
                required>
            </div>
            <div class="mb-3">
              <select formControlName="categoria" class="form-select form-select-lg mb-3">
                <option disabled selected> categoria</option>
                <option *ngFor="let categoria of categorias" [ngValue]="categoria._id">{{categoria.nombre}}</option>
              </select>
              <div class="text-danger"
                *ngIf="productoForm.controls['categoria']?.invalid && productoForm.controls['categoria']?.touched">
                <span>La categoria <strong>es obligatoria</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <button (click)="onSubmit(productoForm,elementId)" class="btn btn-success btn-lg float-end">EDITAR</button>
              <button (click)="closeModal()" class="btn btn-secondary btn-lg float-start">cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModal && !isLogged" class="modal">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card mt-5">
        <div class="card-body text-center">
          <span class="titulo text-danger"> ERROR</span>
              <h2>Necesitas logearte para hacer eso</h2>  
              <button class="btn btn-secondary mb-3" (click)="closeModal()">CERRAR</button>              
        </div>
      </div>
    </div>
  </div>
</div>

